.mobile-view {
    display: none !important;
}
body {
    width: 100%;
    margin: 0;
    font-family: Arial;
    background-color: #4d4d4d;
    color: #fff;
}
#top-bar {
    width: 100%;
    height: 60px;
    background-color: #333333;
}
#logo {
    float: left;
    overflow: hidden;
    background-color: white;
    width: 150px;
    height: 38px;
}
#logo :hover {
    background-color: #d56a00;
}
#logo-div {
    float: left;
    padding-top: 10px;
}
/* NAVIGATION STYLES */
#desktop-nav {
    width: 100%;
    text-align: center;
    margin: -20px auto 0 auto;
    font-size: 1.1em;
    text-transform: uppercase;
    border: none;
    background-color: #333333;
}
#desktop-nav ul {
    padding: 0;
}
#desktop-nav ul li {
    display: inline-block;
}
#desktop-nav ul li a:link {
    text-decoration: none;
    padding: 20px;
    color: white;
}

#desktop-nav ul li a:link {
    text-decoration: none;
}
#desktop-nav ul a:visited {
    color: white;
}
#desktop-nav ul li a:hover {
    text-decoration: none;
    color: #d56a00;
    background: #262626;

}
#desktop-nav a {
    display: inline-block;
    width: 160px;
}
/* FOOTER FOOTER FOOTER */
#footer {
    width: 100%;
    height: auto;
    border-top: solid thin black;
    border-bottom: solid thin black;
    clear: both;
    margin-top: 20px;
}
#footer-content {
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 20px 0;
}
/* IMAGE ATTRIBUTES */
.lan-image-1 {
    height: 100px;
    width: 100px;   
    overflow: hidden;
    float: left;
    margin: 70px;
}
.lan-image-2 {
    height: 100px;
    width: 100px;   
    overflow: hidden;
    float: left;
    margin: 70px;
}
.lan-image-3 {
    height: 100px;
    width: 100px;   
    overflow: hidden;
    float: left;
    margin: 70px 0 70px 70px;
}
div.lan-image-1 :hover {
    background-color: #d56a00;
}
div.lan-image-2 :hover {
    background-color: #d56a00;
}
div.lan-image-3 :hover {
    background-color: #d56a00;
}
.logo-styles {
    width: 700px;
    margin: 0 auto;
}
/* Exercise content block -----------*/
.exercise {
    width: 60%;
    height: auto;
    margin: 0 auto;
    font-size: 1.1em;
}
.exercise h3 {
    text-align: center;
}
/* CODE BLOCK CSS ------------------ */
#exercise-text {
    width: 47%;
    float: left;
}
.codeblock {
    width: 47%;
    height: 400px;
    background-color: gray;
    margin: 75px 20px;
    font-size: 1.2em;
    float: left;
}
#editor {
    width: 100%;
    height: 455px;
    margin-top: -20px;
    margin-bottom: 100px;
    overflow-y: scroll;
}
Select {
    width: 92.5%;
    height: 40px;
    font-size: 1.8em;
    text-align: center;
    margin: 0 auto;
}
.code-button {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    margin: 0 auto;
    border: none;
    background-color: #333333;
}
.code-button ul {
    padding: 0;
}
.code-button ul li {
    display: inline-block;
}
.code-button ul li a:link {
    text-decoration: none;
    color: white;
}

.code-button ul li a:link {
    text-decoration: none;
    padding: 10px;
}
.code-button ul a:visited {
    color: white;
}
.code-button ul li a:hover {
    text-decoration: none;
    color: #d56a00;
    background: #262626;

}
.code-button a {
    display: inline-block;
    width: 100px;
}
.code {
    padding: 5px;
}
.code-button a:focus {
    background: #d56a00;
}
/* LOGIN FORM STYLES COURTESY OF AMALAN PULENDRAN */
/* === Remove input autofocus  === */
*:focus {outline: none;}

/* === Form Typography === */
body {font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;}
.contact_form h2, .contact_form label {font-family:Georgia, Times, "Times New Roman", serif;}
.form_hint, .required_notification {font-size: 11px;}

/* === List Styles === */
.login-form ul {
    width:325px;
    list-style-type:none;
	list-style-position:outside;
	margin: 40px auto;
	padding:0px;
}
.login-form li{
	padding:12px; 

	position:relative;
} 
.login-form li:first-child, .login-form li:last-child {
	
}
.exercise-form ul {
        width:90%;
        list-style-type:none;
	list-style-position:outside;
	margin: 10px auto;
}
.exercise-form li{
	padding:12px; 
        width: 100%;
	position:relative;
} 
.exercise-form li:first-child, .exercise-form li:last-child {
	
}
#input-text {
    font-weight: bold;
    font-size: 1.5em;
}
.exercise-form h1 {
    text-align: center;
    width: 95%;
}
label {
    font-size: 1.5em;
    margin: 5px 0;
}

/* === Form Header === */
.login-form h2 {
	margin:0;
	display: inline;
}
.exercise-form h2 {
	margin:0;
	display: inline;
}
.required_notification {
	color:#d45252; 
	margin:5px 0 0 0; 
	display:inline;
	float:right;
}

/* === Form Elements === */
.login-form label {
	width:150px;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}
.login-form input {
	height:20px; 
	width:220px; 
	padding:5px 8px;
}
.login-form textarea {
    padding:8px;
    width:300px;
}
.login-form button {
    width: 300px;
}
/* form element visual styles */
.login-form input { 
        border:1px solid #aaa;
        width: 260px;
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
        border-radius:2px;
        padding-right:30px;
        -moz-transition: padding .25s; 
        -webkit-transition: padding .25s; 
        -o-transition: padding .25s;
        transition: padding .25s;
}
.login-form input:focus {
        background: #fff; 
        border:1px solid #555; 
        box-shadow: 0 0 3px #aaa; 
}
/* === Exercise Form Elements == */
textarea {
    resize: none;
}
.exercise-form label {
	width:100%;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}
.exercise-form textarea {
    padding:8px;
    width:90%;
    height: 200px;
}
.exercise-form button {
    width: 92.5%;
    height: 40px;
    margin: 0 auto;
}
/* form element visual styles */
.exercise-form input { 
        border:1px solid #aaa;
        height:30px; 
	width:90%; 
	padding:5px 8px;
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
        border-radius:2px;
        -moz-transition: padding .25s; 
        -webkit-transition: padding .25s; 
        -o-transition: padding .25s;
        transition: padding .25s;
}
.exercise-form input:focus {
        background: #fff; 
        border:1px solid #555; 
        box-shadow: 0 0 3px #aaa; 
}

/* === HTML5 validation styles === */	
.login-form input:required {
	background: #fff url(/images/red_asterisk.png) no-repeat 98% center;
}
.login-form input:required:valid {
	background: #fff url(/images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.login-form input:focus:invalid {
	background: #fff url(/images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}
.login-form textarea:required {
	background: #fff url(/images/red_asterisk.png) no-repeat 98% center;
}
.login-form textarea:required:valid {
	background: #fff url(/images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.login-form textarea:focus:invalid {
	background: #fff url(/images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}
.exercise-form input:required {
	background: #fff url(/images/red_asterisk.png) no-repeat 98% center;
}
.exercise-form input:required:valid {
	background: #fff url(/images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.exercise-form input:focus:invalid {
	background: #fff url(/images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}
.exercise-form textarea:required {
	background: #fff url(/images/red_asterisk.png) no-repeat 98% center;
}
.exercise-form textarea:required:valid {
	background: #fff url(/images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.exercise-form textarea:focus:invalid {
	background: #fff url(/images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}
.exercise-form textarea {
     box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
        border-radius:2px;
        -moz-transition: padding .25s; 
        -webkit-transition: padding .25s; 
        -o-transition: padding .25s;
        transition: padding .25s;
}

/* === Form hints === */
.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
.form_hint::before {
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}
.login-form input:focus + .form_hint {display: inline;}
.login-form input:required:valid + .form_hint {background: #28921f;}
.login-form input:required:valid + .form_hint::before {color:#28921f;}
	
/* === Button Style === */
button.submit {
	background-color: #d56a00;
	background: -webkit-gradient(linear, left top, left bottom, from(#d56a00), to(#c16100));
	background: -webkit-linear-gradient(top, #d56a00, #c16100);
	background: -moz-linear-gradient(top, #d56a00, #c16100);
	background: -ms-linear-gradient(top, #d56a00, #c16100);
	background: -o-linear-gradient(top, #d56a00, #c16100);
	background: linear-gradient(top, #d56a00, #c16100);
	border: 1px solid #c16100;
	border-bottom: 1px solid #c16100;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #c66300;
	-webkit-box-shadow: 0 1px 0 0 #f97c00 inset ;
	-moz-box-shadow: 0 1px 0 0 #f97c00 inset;
	-ms-box-shadow: 0 1px 0 0 #f97c00 inset;
	-o-box-shadow: 0 1px 0 0 #f97c00 inset;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	text-shadow: 0 -1px 0 #c16100;
}
button.submit:hover {
	opacity:.85;
	cursor: pointer; 
}
button.submit:active {
	border: 1px solid #d56a00;
	box-shadow: 0 0 10px 5px #c16100 inset; 
	-webkit-box-shadow:0 0 10px 5px #c16100 inset ;
	-moz-box-shadow: 0 0 10px 5px #c16100 inset;
	-ms-box-shadow: 0 0 10px 5px #c16100 inset;
	-o-box-shadow: 0 0 10px 5px #c16100 inset;
	
}
/* STYLES FOR EXERCISE TABLE */
.table th, td {
    padding: 10px;
}
.table {
    border: solid thin black;
    border-spacing: 0;
}
.table th {
    background-color: #393939;
}
.table a:link {
    text-decoration: none;
    color: #d56a00;
}
.table a:visited {
    color: #d56a00;
}
.table a:hover {
    color: #c16100;
    font-weight: bold;
    font-size: 1.1em;
}
